
<div class="bg-image text-center align-items-center justify-content-center d-flex"
     style="
background-image: url('/assets/blog2.jpg'), url('/assets/blog.jpg');
height: 100vh;
background-repeat:no-repeat;
background-size:cover;

">
    <a asp-controller="Blog" asp-action="Index"><button type="button" class="btn btn-success btn-lg fa-beat">Explore Blogs</button></a>
</div>