

<section id="contact" class="mb-5 mt-5">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold text-capitalize">Get started</h1>
            <div class="heading-line"></div>
            <p class="lh-lg">
                feel free to contact.
            </p>
        </div>

        <!-- START THE CTA CONTENT  -->
        <div class="d-flex justify-content-center align-items-center">
        <div class="row text-dark col-5 col-lg-12 w-100 gradient shadow p-3 justify-content-center" style="background-image:linear-gradient(to left, pink ,skyblue)">
            
            <img src="~/assets//img/c.png" class="img-fluid h-25 w-50 " alt="Responsive image">
                <a asp-controller="Contact" asp-action="Index" class="text-center">
                 <button  type="button" class="btn btn-success opacity-75 w-75 m-2">Contact me!</button>
                </a>
        </div>
        </div>
    </div>
</section>