<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="theme-color" content="#e1f7fc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BiometerApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body style="background-color:#e8fafe92">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#e8fafe92">
            <div class="container-fluid">

                <a class="navbar-brand logo_h"><img src="~/assets/img/logo.png" height="50" width="50" alt="logo" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="logotext">Biometer</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="background-color:#E8FAFE">
                                Blog
                            </button>
                            <ul class="dropdown-menu dropdown-menu-light">
                                <li><a class="dropdown-item" asp-controller="Blog" asp-action="Index">Blog</a></li>
                                
                                <li><a class="dropdown-item" asp-controller="BlogDetail" asp-action="Index">Write a Blog</a></li>
                            </ul>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Biometer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <div>

    </div>
    </footer>*@
    <footer class="bg-light text-center text-white border-top footer text-muted" style="background-color:#000">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
           
            <!-- Section: Social media -->
            <section class="mb-4">


                <!-- Twitter -->
                <a class="btn text-white btn-floating m-1"
                   style="background-color: #55acee;"
                   href="https://www.twitter.com/AnubhavRay_/"
                   role="button">
                    <i class="fab fa-twitter"></i>
                </a>


                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1"
                   style="background-color: #ac2bac;"
                   target="_blank"
                   href="https://www.instagram.com/anubhavray_/"
                   role="button">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-1"
                   style="background-color: #0082ca;"
                   href="https://www.linkedin.com/in/anubhavray"
                   target="_blank"
                   role="button">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <!-- Github -->
                <a class="btn text-white btn-floating m-1"
                   style="background-color: #333333;"
                   href="https://github.com/anubhavray678"
                   target="_blank"
                   role="button">
                    <i class="fab fa-github"></i>
                </a>
            </section>

            <!-- Section: Social media -->
        </div>

        <!-- Grid container -->
        <!-- Copyright -->
        <div class="container">
            &copy; 2023 - Biometer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
