
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="features_area mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <h2>service offers </h2>
                    <p>
                        We offer these services <br> You can contact for any project and future Collaboration.
                    </p>
                </div>
            </div>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/development.png" alt="" class="w-25">
                    <h4>Web Development</h4>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/ui.png" alt="" class="w-25">
                    <h4>UI/ux design</h4>
                 
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/ux.png" alt="" class="w-25">
                    <h4>Web design</h4>
                  
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/app-development.png" alt="" class="w-25">
                    <h4>App Development</h4>
                  
                </div>
            </div>
        </div>
    </div>
</section>