
<section class="features_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <h2>Skills </h2>
                    <p>
                        You Don't Hire For Skills, You Hire For Attitude. You Can Always Teach Skills.
                    </p>
                </div>
            </div>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/python.png" alt="" class="w-25 fa-beat">
                    <h4> Python</h4>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/C++.png" alt="" class="w-25 fa-beat">
                    <h4>C++</h4>
                  
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/HTMl.png" alt="" class="w-25 fa-beat">
                    <h4>HTML</h4>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/css.png" alt="" class="w-25 fa-beat">
                    <h4>CSS</h4>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/js.png" alt="" class="w-25 fa-beat">
                    <h4>Javascript</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/react.png" alt="" class="w-25 fa-beat">
                    <h4>ReactJS</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/algorithm.png" alt="" class="w-25 fa-beat">
                    <h4>Data Structure and Algorithm</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/github.png" alt="" class="w-25 fa-beat">
                    <h4>Git and Github</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/sql.png" alt="" class="w-25 fa-beat">
                    <h4>SQL express</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/nextjs.png" alt="" class="w-25 fa-beat">
                    <h4>Next Js</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/asp.png" alt="" class="w-25 fa-beat">
                    <h4>Asp.net MVC</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="~/assets/img/services/node.png" alt="" class="w-25 fa-beat">
                    <h4>Node</h4>
                </div>
            </div>
        </div>
    </div>
</section>