<div class="row">
    <div class="col-lg-12">
        <div class="main_title text-left">
            <h2>
                <i class="fa-solid fa-briefcase fa-bounce fa-2xl" style="color: #7da8f2;"></i> Experience
                
            </h2>
        </div>
    </div>
</div>




<section id="resume" class="resume mb-5">
    <div class="container">

       

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Objective</h3>
                <div class="resume-item pb-0">
                    <h4>Anubhav Kumar Ray</h4>
                    <p>
                        
                            To enhance my professional skills, capabilities and knowledge in
                            an organization which recognizes the value of hard work and trusts
                            me with responsibilities and challenges.
                     
                    </p>
                    <ul>
                        <li>Noida, IND</li>
                        <li>anubhavray678@gmail.com</li>
                    </ul>
                </div>

                
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>IT Summer Intern</h4>
                    <h5>2023 - Present</h5>
                    <p><img src="~/assets/img/ntpc.png" style="height:40px;width:60px" />NTPC ltd, Noida, IND </p>
                    <ul>
                        <li>Working on the design, development, and implementation of the project.</li>
                        <li>working on Asp.net MVC, SQL Server ,Bootstrap ,Jquery</li>
                    </ul>
                </div>
              
            </div>
        </div>

    </div>
</section>