@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "About";
}

<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="card-image" src="~/assets//img/about-us.png" alt="" />
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>
                        let’s <br />
                        Introduce about <br />
                        myself
                    </h2>
                    <p>
                        I am Anubhav, hailing from the beautiful city of Noida.

                        Currently, I am studying a Bachelor Of Technology in Computer Science.

                        I have completed my high school from Kendriya vidyalaya Noida.
                    </p>
                    <p>
                        Throughout my educational journey, I have acquired a diverse set of skills and technical knowledge in computers and programming.

                        I am well-versed in programming languages like Python, and C++ and web technologies like HTML, CSS, JavaScript, ReactJs,Data Structure and Algorithms and DBMS. As an individual, I am a self-motivated, dedicated and hard-working person and I will never give up. I find joy in learning new things. I'm tech and startup enthusiast.
                    </p>
                    <a class="primary_btn" asp-controller="Home" asp-action="Resume"><span>Download CV</span></a>
                </div>
            </div>
        </div>
    </div>
   
</section>
<div class="text-center d-flex align-items-center justify-content-center">
    <div class="col-lg-4 ">
        <div class="blog_right_sidebar">

            <aside class="single_sidebar_widget author_widget">
                <img class="author_img rounded-circle" src="~/assets/img/Avatar.jpg" alt="">
                <h4>Anubhav Ray</h4>
                <p>Software Engineer</p>
                <div class="social_icon">
                    <a class="btn text-white btn-floating m-1"
                       style="background-color: #55acee;"
                       href="https://www.twitter.com/AnubhavRay_/"
                       role="button">
                        <i class="fab fa-twitter"></i>
                    </a>


                    <!-- Instagram -->
                    <a class="btn text-white btn-floating m-1"
                       style="background-color: #ac2bac;"
                       target="_blank"
                       href="https://www.instagram.com/anubhavray_/"
                       role="button">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn text-white btn-floating m-1"
                       style="background-color: #0082ca;"
                       href="https://www.linkedin.com/in/anubhavray"
                       target="_blank"
                       role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <!-- Github -->
                    <a class="btn text-white btn-floating m-1"
                       style="background-color: #333333;"
                       href="https://github.com/anubhavray678"
                       target="_blank"
                       role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <p> 
                    I am Anubhav, hailing from the beautiful city of Noida. Currently, I am studying a Bachelor Of Technology in Computer Science. 
                    </p>
                <div class="br"></div>
            </aside>

        </div>
    </div>
</div>
