@{
    ViewData["Title"] = "Biometer";
}

<div class="">
    <div >
        <partial name="_Banner" />
    </div>
    <partial name="_Education" />
   <partial name="_Skills" />
    <partial name="_Work"/>
   <partial name="_Contact" />
   <partial name="_Project"/>
    <partial name="_Service" />
    <partial name="_Startup" />
    <partial name="_BlogView" />
</div>
